<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/global.css" />
    <title>Text2Image</title>
  </head>
  <body>
    <div class="page aligned-center">
      <h1>Image could not be processed</h1>
      <button class="button" onclick="location.href='/'">Back</button>
    </div>
  </body>
</html>
